:root {
    /* Font style */

    --primary-font-family: 'Poppins', sans-serif;
    --title-font-family: 'Rubik', sans-serif;
    --h1-font-size: 64px;
    --h2-font-size: 48px;
    --font-size-semibold-1: 28px;
    --font-size-semibold-2: 24px;
    --font-size-md: 18px;
    --font-size-regular: 16px;
    --font-size-small: 12px;

/*    Color style */

    --primary-acent-color: #69B99D;
    --primary-bg-color: #F5F5F5;
    --card-bag-color: #DEDCDA;
    --light-background: #F8F9FE;
    --text-light: #8E8E8E;
    --bg-white: #fff;
    --title-color: #1F2744;


    /*    Spacing style */

    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;
    --standard-width: 1144px;

}

body {
    font-family: var(--primary-font-family);
    color: var(--text-light);
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: var(--spacing-sm);
    background-color: #F5F5F5;
    position: relative;
    overflow-x: hidden;
}

.wrapper {
    width: 100%;
    max-width: var(--standard-width);
}
.title-color {
    color: var(--title-color);
}

.button-with-bg {
    padding: 12px 45px;
    margin-left: var(--spacing-lg);
    background-color: var(--primary-acent-color);
    color: var(--bg-white);
    text-align: center;
    display: flex;
    justify-content: center;
    max-width: 100px;
    border: 1px solid var(--primary-acent-color);
    text-decoration: none;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.button-with-bg:hover {
    background-color: var(--bg-white);
    color: var(--primary-acent-color);
    border: 1px solid var(--primary-acent-color);
}

.button-without-bg {
    border: none;
    background-color: transparent;
    color: var(--primary-acent-color);
    font-size: var(--font-size-regular);
    cursor: pointer;
    transition: transform .3s ease;

}

.button-without-bg:hover {
    transform: scale(1.05);
}

.square-tag {
    padding: 12px 25px;
    background-color: var(--light-background);
    max-width: 120px;
    display: flex;
    justify-content: center;
    font-size: var(--font-size-md);
    color: var(--primary-acent-color);
    text-transform: uppercase;
}

.subtitle {
    font-family: var(--title-font-family);
    font-size: 3.5rem;
    font-weight: bold;
    color: #054457;
    margin-bottom: 16px;
}

/* Global css end */


/* Header section */

.header-section {
    width: 100%;
    height: 754px;
}

.navbar {
    width: 100%;
    height: 120px;
    padding: var(--spacing-md) 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.navbar .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a{
    padding: 0 calc(var(--spacing-md)* 1.8);
    text-decoration: none;
    color: var(--text-light);
    font-size: var(--font-size-regular);
    font-weight: 500;
    transition: transform .3s ease;
}

.navbar a:hover {
    color: var(--primary-acent-color);
    transform: scale(1.05);
}

.navbar .navbar-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: var(--spacing-xl);
}

.header-features-section .feature-img {
    position: absolute; /* position to the body */
    top: 0;
    left: 50%;
    z-index: -1;
}

.header-features-section .feature-title {
    font-family: var(--title-font-family);
    font-weight: bold;
    font-size: var(--h1-font-size);
    width: 60%;
    margin: var(--spacing-lg) 0;
}

.header-features-section .feature-description {
    font-size: var(--font-size-regular);
    width: 45%;
    margin: 0 0 var(--spacing-lg) 0;
}

.feature-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.form-title  {
    display: flex;
    margin-bottom: 0;

}

.form-title .buy-section, .rent-section {
    height: 70px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: var(--primary-acent-color);
    font-size: var(--font-size-md);
    font-weight: 500;
    letter-spacing: 1.25px;
    margin-bottom: 0;
    /*line-height: 1.5%;*/
}

.form-title .rent-section {
    background-color: transparent;
    margin-left: 0;
}


.search-bar {
    display: flex;
    gap: var(--spacing-xl);
    height: 120px;
    width: 75%;
    background-color: var(--bg-white);
    margin: 0;
    align-items: center;
    justify-content: space-evenly;
    /*margin-left: var(--spacing-md);*/
}

.search-bar .location {
    margin-left: var(--spacing-md);
}

.search-bar .title-color {
    font-size: var(--font-size-md);
}
/* Main tag css */
main {
    width: 100%;
}
/* Recommendation css */
.recommendation-section {
    width: 100%;
    height: 950px;
    background-color: var(--bg-white);
    display: flex;
    justify-content: center;
    padding: var(--spacing-xl) 0;
}

.recommendation-section .subtitle {

}

.recommendation-section .recommendation-description {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.recommendation-description .description {
    width: 50%;
    font-size: var(--font-size-regular);
    margin: 0 0 50px 0;
}

.recommendation-section-lnk {
    display: flex;
    align-items: center;
    margin: 0 0 50px 0;
}

.recommendation-section-lnk a {
    color: var(--primary-acent-color);
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1.25px;
    transition: transform .3s ease;
}

.recommendation-section-lnk a:hover {
    transform: scale(1.1);

}

.recommendation-section-lnk img:hover {
    transform: scale(1.1);
}

.recommendation-section .cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-lg);
}

.card-one, .card-two, .card-three {
    width: 376px;
    height: 472px;
    background-color: var(--bg-white);
    border: 1px solid #DEDCDA;
    padding: var(--spacing-md);
}

.recommendation-section .card-title {
    font-size: 1.8rem;
    color: var(--title-color);
    font-weight: 500;
    margin: 10px 0;
}

.recommendation-section .card-subtitle {
    font-size: 1rem;
    margin: 5px 0;
}

.recommendation-section .price-section {
    display: flex;
    gap: var(--spacing-lg);
    /*justify-content: space-evenly;*/
    align-items: center;
}

.recommendation-section .price-section .price {
    color: var(--primary-acent-color);
    font-size: 1.8rem;
    font-weight: bold;
    margin: 10px 0;
}

.recommendation-section .price-section .length {
    width: 160px;
    height: 36px;
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    padding: 0 10px;
}

.recommendation-section .price-section .length span {
    color: var(--title-color);
    font-size: 1rem;
    margin-right: 10px;
}

.recommendation-section .send-inquiry {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: var(--spacing-md) 0;
    width: 100%;
    height: 52px;
    background-color: transparent;
    border: 1px solid var(--primary-acent-color);
    text-decoration: none;
    color: var(--primary-acent-color);
    font-size: 1rem;
    font-weight: 500;
    transition: .3s ease;
    letter-spacing: 1.25px;
}

.recommendation-section .send-inquiry:hover {
    background-color: var(--primary-acent-color);
    color: var(--bg-white);
}

/* Feature css */
.feature-section {
    width: 100%;
    height: 910px;
    display: flex;
    justify-content: center;
    margin-bottom: var(--spacing-xl);
}

.feature-section .square-tag {
    max-width: 150px;
    margin-top: var(--spacing-xl);
}

.feature-section .subtitle {
    margin: var(--spacing-md) 0 var(--spacing-xl) 0;
    width: 45%;
}

.feature-section .feature-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.feature-section .feature-cards .card {
    width: 340px;
    height: 268px;
    margin-bottom: var(--spacing-xl);

}

.feature-cards .feature-card-subtitle {
    color: #054457;
    font-size: 1.8rem;
    margin: var(--spacing-md) 0;
}

/* About css */
.about-section {
    width: 100%;
    height: 800px;
    background-color: var(--bg-white);
    display: flex;
    justify-content: center;
    position: relative;
    /*margin: 150px 0;*/
}

.about-section .wrapper {
    margin: calc(var(--spacing-xl) * 4) 0;

}
.about-section .two-columns .col-left .review-img {
}
.about-section .floating-review {
    width: 175px;
    height: 252px;
    background-color: var(--bg-white);
    position: absolute;
    top: 16%;
    left: 17%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.about-section .floating-review .floating-icon {
    position: absolute;
    top: -9%;
}

.about-section .floating-review .details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-section .floating-review .details .score {
    color: #054457;
    font-size: 4rem;
    font-weight: 400;
}

.about-section .floating-review .floating-subtitle {
    color: #A6A6A6;
    font-size: 1rem;
    font-weight: normal;
    padding: var(--spacing-sm);
}
.about-section .floating-review .details p {
    margin:  0;
}

.about-section .two-columns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 470px;
    position: relative;
    gap: var(--spacing-xl);
}

.about-section .two-columns .total-sales {
    width: 525px;
    height: 82px;
    background-color: var(--bg-white);
    position: absolute;
    bottom: 0;
    right: 534.68px;
    display: flex;
    justify-content: space-around;
}
.about-section .property-sales,
.about-section .apartment-sales {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.about-section .property-sales .sales-number,
.about-section .apartment-sales .sales-number {
    color: #054457;
    font-size: 3rem;
    font-weight: 500;
    margin: var(--spacing-md) 0;
}
.about-section .property-sales .property-sale-heading,
.about-section .apartment-sales .apartment-rent-heading {
    color: #A6A6A6;
    font-size: 1rem;
    font-weight: 400;
    width: 40%;
}

.about-section .two-columns .col-right .square-tag{
    margin: var(--spacing-xl) 0 var(--spacing-md) 0;
}

.about-section .col-right .about-details .subtitle {
    /*width: 70%;*/
    font-size: 2.7rem;
    margin: var(--spacing-md) 0;
}

.about-details .button-with-bg {
    padding: 20px 50px;
    max-width: 250px;
    margin-left: 0;
}